.search-form {

	.category-group {

		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 0 !important;

	}

	label[for="category_name"] {

		h3 {
			margin: 0;
			margin-top: 0.5rem;
		}

	}

}